.search {
    background-color: rgba(208, 208, 208, 1);
    padding: 10px 35px
}

.search-icon {
    position: absolute;
    top: 15px;
    left: 20px;
}

.d-down {
    background-color: rgba(208, 208, 208, 1);
    padding: 10px 20px;
}

.department {
    margin: 0;
}

.doctor-name {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-family: 'Bitter-Thin';
}

.date {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.appointment-c-footer {
    background-color: #194176;
}