
.carousel-container h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #194176;
    font-weight: 700;
    font-family: "Bitter-ExtraBold";
  }

  .card-title-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55%;
    border-top: 2px solid #194176;
    border-bottom: 2px solid #194176;
    margin: 0 3px;
  }

  .card-title-img h5 {
    color: #194176;
    padding-left: 10px;
  }

  .card-img, .card-img-top {
    max-width: 50%;
    object-fit: cover;
    background-size: cover;
  }
  
  .carousel-container .desc {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #194176;
    font-weight: 400;
    font-family: "Bitter-Regular";
    width: 75%;
    margin: auto;
  }

  .card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .card-body .card-desc {
    color: #194176;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .card-body .member-since {
    background-color: #194176;
    color: #FFFFFF;
    font-weight: 400;
    font-family: "Bitter-Regular";
    font-size: 0.8rem;
    padding: 2px 10px;
  }

  .carousel-indicators {
    position: relative;
    top: 25rem;
  }

  .carousel-indicators .active {
    background-color: #194176;
  }

  .travel-to {
    color: #194176;
    font-weight: 400;
    font-family: "Bitter-Regular";
    font-size: 1.2rem;
    padding: 5px 10px;
  }