/* fonts */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.nav-header .logo {
  font-size: 1em;
  font-weight: bold;
  width: 14rem;
  height: 3rem;
  margin-left: 1rem;
}

.nav-header nav ul {
  display: flex;
  margin: 0;
  margin-left: 2rem;
}

.link-a {
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 10px;
  cursor: pointer;
  color: #194176;
  font-weight: 600;
  font-family: 'Bitter-Bold';
}

.home-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: 100%;
}

.text-content {
  max-width: 50%;
}

.text-content button {
  background-color: #ff9900;
  color: white;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  font-family: 'Bitter-Medium';
}

.image-content {
  max-width: 40%;
  text-align: left;
}

.image-content img {
  width: 100%;
}

.telehealth-info {
  background-color: #194176;
  margin-top: 20px;
  height: 7rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.telehealth-info ul {
  list-style-type: disc;
  margin-left: 1rem;
  padding: 5px 10px;
}

.telehealth-info ul li {
  font-size: 1em;
  margin: 10px 0;
  color: #FFFFFF;
  font-family: 'Bitter-Thin';
}

@media (max-width: 576px) {
  .nav-header .logo {
    display: none;
  }
  .nav-header nav ul {
    display: none;
  }
  .home-main {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .text-content {
    max-width: 100%;
  }
  .image-content {
    max-width: 80%;
  }
  .heading-1 {
    font-size: 1.7rem;
    margin: 0;
  }
  .heading-desc {
    font-size: 0.9rem;
  }
  .heading-3 { 
    font-size: 1.2rem;
    margin: 0;
  }
  .telehealth-info {
    height: 9rem;
  }
}

@media (min-width: 577px) and (max-width: 769px) {
  .logo {
    display: none;
  }
  .home-main {
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  .text-content {
    max-width: 100%;
  }
  .image-content {
    max-width: 80%;
  }
  .heading-1 {
    font-size: 2.5rem;
  }
  .heading-desc {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 992px) {
  .nav-header .logo {
    display: none;
  }
  .navbar-nav {
    width: 100%;
  }
  .navbar-nav .nav-item {
    width: 100%;
    padding: 10px 0;
  }
  .navbar-nav .nav-item li {
    font-size: 1.8rem;
  }
  .telehealth-info {
    height: 9rem;
  }
}