.list-unstyled li {
    min-height: 60px;
    padding: 10px 18px;
    text-align: center;
    font-weight: 600;
}

.right-text li {
    text-align: left;
}

.plan-heading-3 {
    font-size: 2rem;
    color: #194176;
    font-weight: 700;
    font-family: 'Bitter-Bold';
    text-align: center;
    margin: 1rem 0;
}

.price-card {
    padding: 0 10px;
}

.price-card .fill{
    background-color: #194176;
}

.price-card .outline{
    color: #194176;
    border: 1px solid #194176;
}

.small-light{
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Bitter-Thin';
    text-align: center;
}

#c1 {
    margin: 4.5rem 0;
}

@media (max-width: 990px){
    .plan-heading-3 {
        font-size: 1.5rem;
    }
}