.travelWithConDiv {
  width: 100%;
}

.main-content {
  width: 100%;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  margin-bottom: 50px;
}

.features {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #194176;
  border-radius: 20px;
}

.feature {
  padding: 20px;
  border-right: 2px solid #194176;
}

.feature:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px; 
  width: 1px;
  height: 70%;
  background-color: #194176;
  margin-top: 10px;
  margin-bottom: 10px;
}

.features img {
  text-align: center;
  width: 5rem;
  height: 5rem;
}

.feature h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #194176;
  font-weight: 700;
  font-family: "Bitter-ExtraBold";
}

.feature p {
  color: #194176;
  font-weight: 300;
  font-family: "Bitter-Thin";
  font-size: 1.2rem;
}

.how-we-do-it {
  margin-top: 50px;
}

.steps {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.step {
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

#step1 {
  background-color: #194176;
}
#step2 {
  background-color: rgba(227, 140, 59, 1);
}
#step3 {
  background-color: #1941767e;
}

.step h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-family: 'Bitter-Bold';
  font-weight: 600;
  text-align: left;
}

.step p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-family: 'Bitter-Regular';
  font-weight: 300;
  text-align: left;
}

.step img {
  width: 90%;
  height: 15rem;
  object-fit: contain;
}

.carousel-control-next, .carousel-control-prev{
  background-color: green;
}

.card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  border: 2px solid #194176;
}

.card-heading h5{
  color: #194176;
  font-size: 1.3rem;
  font-family: 'Bitter-Bold';
  padding-left: 1em;
  padding-top: 1em;
}

.card-img-top {
  width: 50%;
  height: 100%;
  min-height: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .features,
  .steps {
    flex-direction: column;
    align-items: center;
  }

    .feature:not(:last-child)::after {
      display: none;
    }

    #step2 {
      margin: 10px;
    }
}

@media (max-width: 880px) {
  .step h3 {
    font-size: 2rem;
  }
}
