@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.heading-1 {
  font-size: 3.5em;
  margin-bottom: 20px;
  color: #194176;
  font-weight: 700;
  font-family: 'Bitter-ExtraBold';
}

.heading-desc {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: #194176;
  font-weight: 400;
  font-family: 'Bitter-Regular';
}

/* Responsive Design */
@media (max-width: 768px) {
  .heading-1 {
    font-size: 2.5em;
  }
  .heading-desc {
    font-size: 1.1rem;
  }
}